@import 'globales';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: $fuente2;
	scroll-behavior: smooth;
	background-color: $browndark;
	color: $white;
}

body {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
body::after {
	content: "";
	background: url('../assets/img/fondo_elart.jpg');
	background-position: center;
	opacity: 0.75;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}



main {	
	height: auto;
}